@charset "UTF-8";

div#tvRadio {
    width: 900px;
    height: 580px;
    margin-top: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    left: 570px;
    top: 490px;
    width: 300px;
}

iframe#video {
    display: block;
    position: relative;
    left: 85px;
    bottom: 520px;
    width: 450px;
    height: 315px;
}
